@charset "utf-8";
/* CSS Document */
body { 
background-color: yellow;
} 

#a {
  background-color: yellow;
  color: black;
  padding: 40px;
  text-align: center;
} 

#b {
  background-color: lightblue;
  color: black;
  padding: 10px;
  text-align: left;
} 
